name: Data Preprocessing CI

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: write   # penting karena kita commit hasil preprocessing

jobs:
  preprocessing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas numpy scikit-learn joblib

      - name: Run preprocessing script
        run: |
          cd preprocessing
          python automate_Fazar_Budiman.py

      - name: Commit preprocessing outputs
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"

          git add preprocessing/bandung-house-price-preprocessing
          git add preprocessor.joblib

          git commit -m "ci: generate preprocessing artifacts" || echo "No changes"
          git push
